data/building\ imagery/padded
data/building\ imagery/raw
data/cluster\ imagery
data/meta
data/building-year\ profiles/minmax
data/building-year\ profiles/random
data/building-year\ profiles/original

src/data_notebook.ipynb
src/figures_notebook.ipynb
src/.ipynb_checkpoints/

results
